In [4]:
# 加载模块
from datetime import datetime

# 统计分析相关
import pandas as pd
from statsmodels.api import OLS
from statsmodels.tsa.stattools import coint

# 绘图分析相关
import plotly.graph_objects as go

# 读取数据相关
from vnpy.trader.database import database_manager
from vnpy.trader.utility import extract_vt_symbol
from vnpy.trader.constant import Interval

In [2]:
# 定义函数
def load_symbol_data(vt_symbol, start, end):
    symbol, exchange = extract_vt_symbol(vt_symbol)
    start = datetime.strptime(start, "%Y%m%d")
    end = datetime.strptime(end, "%Y%m%d")
    interval = Interval.MINUTE

    data = database_manager.load_bar_data(symbol, exchange, interval, start, end)

    dt_list = []
    close_list = []
    for bar in data:
        dt_list.append(bar.datetime)
        close_list.append(bar.close_price)
    
    s = pd.Series(close_list, index=dt_list)
    return s


def load_portfolio_data(vt_symbols, start, end):
    df = pd.DataFrame()
    for vt_symbol in vt_symbols:
        s = load_symbol_data(vt_symbol, start, end)
        df[vt_symbol] = s
    return df

In [7]:
load_portfolio_data(["IF2006.CFFEX", "IF2009.CFFEX"], "20200101", "20200621")

                     IF2006.CFFEX  IF2009.CFFEX
2020-01-02 09:30:00        4162.0           NaN
2020-01-02 09:31:00        4161.8           NaN
2020-01-02 09:32:00        4168.0           NaN
2020-01-02 09:33:00        4167.0           NaN
2020-01-02 09:34:00        4157.8           NaN
2020-01-02 09:35:00        4159.2           NaN
2020-01-02 09:36:00        4164.6           NaN
2020-01-02 09:37:00        4167.0           NaN
2020-01-02 09:38:00        4164.0           NaN
2020-01-02 09:39:00        4166.2           NaN
2020-01-02 09:40:00        4164.0           NaN
2020-01-02 09:41:00        4163.0           NaN
2020-01-02 09:42:00        4164.4           NaN
2020-01-02 09:43:00        4162.0           NaN
2020-01-02 09:44:00        4157.8           NaN
2020-01-02 09:45:00        4159.4           NaN
2020-01-02 09:46:00        4160.8           NaN
2020-01-02 09:47:00        4163.6           NaN
2020-01-02 09:48:00        4165.0           NaN
2020-01-02 09:49:00        4165.6           NaN
2020-01-02 09:50:00        4168.2           NaN
2020-01-02 09:51:00        4168.6           NaN
2020-01-02 09:52:00        4167.8           NaN
2020-01-02 09:53:00        4174.4           NaN
2020-01-02 09:54:00        4176.0           NaN
2020-01-02 09:55:00        4172.0           NaN
2020-01-02 09:56:00        4170.2           NaN
2020-01-02 09:57:00        4170.2           NaN
2020-01-02 09:58:00        4175.0           NaN
2020-01-02 09:59:00        4180.2           NaN
...                           ...           ...
2020-06-18 10:55:00        4012.0        3879.0
2020-06-18 10:56:00        4012.0        3878.6
2020-06-18 10:57:00        4010.4        3877.0
2020-06-18 10:58:00        4010.4        3878.4
2020-06-18 10:59:00        4013.4        3880.2
2020-06-18 11:00:00        4014.6        3880.8
2020-06-18 11:01:00        4012.4        3879.0
2020-06-18 11:02:00        4012.8        3880.0
2020-06-18 11:03:00        4013.0        3881.6
2020-06-18 11:04:00        4011.4        3879.4
2020-06-18 11:05:00        4010.0        3878.0
2020-06-18 11:06:00        4010.8        3878.8
2020-06-18 11:07:00        4011.8        3880.0
2020-06-18 11:08:00        4012.8        3881.6
2020-06-18 11:09:00        4013.8        3883.0
2020-06-18 11:10:00        4015.6        3884.8
2020-06-18 11:11:00        4019.8        3887.6
2020-06-18 11:12:00        4023.2        3890.8
2020-06-18 11:13:00        4024.8        3891.6
2020-06-18 11:14:00        4031.0        3897.8
2020-06-18 11:15:00        4036.4        3905.4
2020-06-18 11:16:00        4036.0        3906.8
2020-06-18 11:17:00        4033.0        3901.4
2020-06-18 11:18:00        4043.2        3912.2
2020-06-18 11:19:00        4040.4        3909.2
2020-06-18 11:20:00        4036.6        3906.4
2020-06-18 11:21:00        4035.8        3907.2
2020-06-18 11:22:00        4034.6        3905.0
2020-06-18 11:23:00        4028.0        3900.2
2020-06-18 11:24:00        4029.6        3900.6

[26515 rows x 2 columns]

In [ ]:
# 加载数据
vt_symbols = ["XBTUSD.BITMEX", "btcusdt.BINANCE"]
start = "20200101"
end = "20200630"

df = load_portfolio_data(vt_symbols, start, end)
print(df)

In [ ]:
# 绘制原始价格图表
fig = go.Figure()

for vt_symbol in vt_symbols:
    line = go.Scatter(y=df[vt_symbol], mode='lines', name=vt_symbol)
    fig.add_trace(line)
    
fig.show()

In [ ]:
# 执行回归分析
result = OLS(df[vt_symbols[0]], df[vt_symbols[-1]]).fit()
print(result.summary())

In [ ]:
# 对残差绘图
df["spread"] = df[vt_symbols[0]] - 1 * df[vt_symbols[-1]]

fig = go.Figure()
line = go.Scatter(x=df.index, y=df["spread"], mode='lines', name="Spread")
fig.add_trace(line)
    
fig.show()

In [ ]:
# 执行协整检验
score, pvalue, _ = coint(df[vt_symbols[0]], df[vt_symbols[-1]])
print(f"协整分析的p-value为：{pvalue}")

## p-value如果小于0.05，则可以明确证明协整关系，但在实践中非常少见。价差整体上还是存在大量的均值偏移情况，但只要震荡回归的次数足够多，即使不满足协整也能通过交易盈利。